.homeCover {
  width: 100%;
  display: grid;
  place-items: center;
  margin: 2rem 0 0;
  gap: 1rem;
  padding: 0;
}

.head {
  color: var(--color-light);
  padding: 0.2rem 0.5rem;
  text-transform: capitalize;
}

.link {
  padding: 0.2rem 0.5rem;
}

.headCover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.homeGrid {
  width: 80%;
  padding: 0.5rem;
  background: var(--color-dark-variant);
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.homeGrid div {
  text-align: left;
}

.itemHead {
  width: 100%;
  padding: 0.3rem;
  background: var(--color-dark);
  color: var(--color-light);
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: underline;
}

.gridOne {
  background: var(--color-black);
  height: 25rem;
}
.gridTwo {
  background: var(--color-black);
  height: 25rem;
}
.gridThree {
  background: var(--color-black);
  height: 25rem;
}

.createPost {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.datePicker {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.3rem 0;
}

.datePicker input {
  color: var(--color-light);
  background: var(--color-dark-variant);
  border: 1px solid var(--color-light);
  outline: none;
}

.postTitle::placeholder {
  color: var(--color-black);
}

input.date {
  background: var(--color-light);
}

.postTitle {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0.3rem 0;
  outline: none;
  border: 1px solid var(--color-light);
  padding: 0.3rem 0.3rem;
  background: var(--color-dark-variant);
}

.editor {
  width: 90%;
  height: 10rem;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
}

.dateCover {
  display: flex;
  font-size: small;
  justify-content: left;
  gap: 1rem;
  align-items: top;
  padding: 0.3rem;
  background: var(--color-light);
  color: var(--color-black);
}

.titleCover {
  padding: 0.3rem;
  width: 100%;
}

.length {
  color: var(--color-black);
  font-weight: 900;
  text-decoration: underline;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 1rem;
}

.length span {
  display: flex;
  color: var(--color-light);
  font-size: 1.2rem;
}

.title {
  color: var(--color-light);
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: underline;
  padding: 0.2rem 0.3rem;
  cursor: pointer;
}

.listCover {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  overflow: hidden;
  padding: 0.5rem 0.3rem;
}

.gridThree {
  overflow-y: scroll;
}

.single {
  background: var(--color-dark-variant);
  border-radius: 5px;
  overflow: hidden;
}

.titleIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleIcon h2 {
  color: var(--color-black);
  display: flex;
}

.postDetails {
  margin-top: 0.2rem;
  padding: 0.3rem;
  color: var(--color-white);
  font-size: small;
}

@media (max-width: 900px) {
  .homeGrid {
    width: 90%;
  }

  .headCover {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .homeGrid {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .headCover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .gridOne {
    background: var(--color-black);
    height: 20rem;
  }
  .gridTwo {
    background: var(--color-black);
    height: 25rem;
  }
  .gridThree {
    background: var(--color-black);
    height: 20rem;
  }
}
