:root {
  --color-dark: #34424c;
  --color-dark-variant: #35515c;
  --color-black: #242424;
  --color-light: #cbdff5;
  --color-light-variant: #5e768c;
  --color-white: #cccccc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
  color: var(--color-black);
  font-weight: 600;
}

section {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ql-container {
  background: var(--color-dark-variant);
  text-align: left;
  display: flex;
}

.ql-snow.ql-toolbar {
  display: block;
  background: var(--color-light);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--color-dark);
  }
}
